<div class="row-fluid">
    <div class="span6">
        <div class="dataTables_info" id="sample_1_info">
           第{{ objects.number }}页，共{{ objects.paginator.num_pages }}页
        </div>
    </div>
    <div class="span6">
        <div class="dataTables_paginate paging_bootstrap pagination">
            <ul>
                <li><a href="?page=1">&laquo;</a></li>
                {% if objects.has_previous %}
                    <li class="prev"><a href="?page={{ objects.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li><a class="colorGray" aria-disabled="false">上一页</a></li>
                {% endif %}

                {% for p in page_range %}
                    {% ifequal p objects.number %}
                        <li class="active"><a>{{ p }}</a></li>
                    {% else %}
                        <li><a href="?page={{ p }}" title="第{{ p }}页">{{ p }}</a></li>
                    {% endifequal %}
                {% endfor %}

                {% if objects.has_next %}
                    <li class="next"><a href="?page={{ objects.next_page_number }}">后一页</a></li>
                {% else %}
                    <li><a class="colorGray" aria-disabled="false">后一页</a></li>
                {% endif %}

                <li><a href="?page={{ objects.paginator.num_pages }}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>