{% extends './admin/base.html' %}
{% load i18n admin_static %}

{% block main %}

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <h3 class="page-title">

                    个人设置
                    <small>完成修改</small>

                </h3>

                <ul class="breadcrumb">

                    <li>
                        <i class="icon-circle-arrow-left"></i>

                        <a href="/admin/">返回首页</a>

                    </li>

                </ul>

                <!-- END PAGE TITLE & BREADCRUMB-->

            </div>

        </div>

        <!-- END PAGE HEADER-->
        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN SAMPLE TABLE PORTLET-->

                <div class="portlet box red">

                    <div class="portlet-title">

                        <div class="caption"><i class="icon-edit"></i>修改完成</div>

                        <div class="tools">

                            <a href="javascript:;" class="collapse"></a>

                            <a href="javascript:;" class="remove"></a>

                        </div>

                    </div>

                    <div class="portlet-body form">

                        <p>{% trans 'Your password was changed.' %}</p>

                    </div>

                </div>

                <!-- END SAMPLE TABLE PORTLET-->

            </div>

        </div>

    </div>

{% endblock %}