{% extends './admin/base.html' %}
{% load i18n admin_static %}

{% block js %}

    <script>

        $(function () {
            $('#cancel').click(function(){
                $("input[type=password]").attr("value","");
            });
        });

    </script>

{% endblock %}

{% block main %}

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <h3 class="page-title">

                    个人设置
                    <small>修改密码</small>

                </h3>

                <ul class="breadcrumb">

                    <li>
                        <i class="icon-circle-arrow-left"></i>

                        <a href="/admin/">返回首页</a>

                    </li>

                </ul>

                <!-- END PAGE TITLE & BREADCRUMB-->

            </div>

        </div>

        <!-- END PAGE HEADER-->
        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN SAMPLE TABLE PORTLET-->

                <div class="portlet box red">

                    <div class="portlet-title">

                        <div class="caption"><i class="icon-edit"></i>修改密码</div>

                        <div class="tools">

                            <a href="javascript:;" class="collapse"></a>

                            <a href="javascript:;" class="remove"></a>

                        </div>

                    </div>

                    <div class="portlet-body form">

                        <form method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="control-group">

                                <label class="control-label" style="text-align: left; width: 80px">旧密码</label>

                                <div class="controls  margin_left0">

                                    {{ form.old_password }}<div class="margin_left80">{{ form.old_password.errors }}</div>

                                </div>

                            </div>

                            <div class="control-group">

                                <label class="control-label" style="text-align: left; width: 80px">新密码</label>

                                <div class="controls  margin_left0">
                                    {{ form.new_password1 }}<div class="margin_left80">{{ form.new_password1.errors }}</div>
                                </div>

                            </div>

                            <div class="control-group">

                                <label class="control-label" style="text-align: left; width: 80px">密码确认</label>
                                <div class="controls  margin_left0">
                                    {{ form.new_password2 }}<div class="margin_left80">{{ form.new_password2.errors }}</div>
                                </div>

                            </div>


                            <div class="form-actions padding_left10">

                                <input type="submit" id="add_carousel" class="btn blue" value="修改密码">
                                <button type="button" id="cancel" class="btn red">取消</button>

                            </div>

                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>

                        </form>

                    </div>

                </div>

                <!-- END SAMPLE TABLE PORTLET-->

            </div>

        </div>

    </div>

{% endblock %}