{% extends "./blog/base.html" %}
{%block main%}
<div class="row">
    <div id="container-blog" class="col-md-8 col-lg-9">
        <!-- 左栏内容 -->
        <div>
            <!-- 轮播 -->
            {% if carousel_page_list %}
                {% include "./blog/include/carousel.html" %}
            {% endif %}

            <!-- 首页文章列表 -->
            {% if post_list %}
                {% for post in post_list %}
                    {% include "./blog/include/post_list.html" %}
                {% endfor %}
            {% endif %}

            <!-- 分页 -->
            {% include "./blog/include/pagination.html" %}

        </div>
    </div>
    <div class="marginTop10 col-md-4 col-lg-3 hidden-xs">
        {% include "./blog/include/search.html"%}
        {% include "./blog/include/year_write_posts.html" %}
        {% include "./blog/include/hot_posts.html" %}
        {% include "./blog/include/friendly_link.html" %}
    </div>
</div>
{% endblock %}