{% extends "./blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block js%}
    <script type="text/javascript">
    $(function(){

        $('#blog-comment-form').submit(function(){
            $.ajax({
                type:"post",
                url:"/comment/{{ post.id }}",
                data:{
                    "comment":$("#comment").val()
                },
                beforeSend:function(xhr){
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                },
                success:function(data, textStatus){
                    $("#comment").val("");
                    $(".blog-comment ul").prepend(data);
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    alert(XMLHttpRequest.responseText);
                }

            });
            return false;
        });

    })
    </script>
{% endblock%}

{% block main %}

<div class="row">
    <div id="container-blog" class="col-md-8 col-lg-9">
        <!-- 左栏内容 -->
        <div class="well" id="post">
            <div>
                <h3>{{ post.title }}</h3>
            </div>
            <div>
                 {% for tag in post.get_tags %}
                    <a href="/tags/{{tag.name}}">
                        <span class="label label-blog-{{forloop.counter}} btn">{{tag.name}}</span>
                    </a>
                 {% endfor %}
            </div>
            <div class="post-info">
                <span>
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{post.publish_time|date:"Y-m-d" }}
                </span>
                <span>
                    <span class="glyphicon glyphicon-comment"></span>
                    {{post.comment_set.all | length}}
                </span>
                <span>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    {{post.view_count}}
                </span>
            </div>
            <hr>
            <div class="wrap">
                {% autoescape off%}
                {{ post.content }}
                {% endautoescape %}
            </div>
        </div>

        <div class="well blog-comment">
            <div class="blog-comment-edit clearfix">
                <form id="blog-comment-form" method="post" role="form">
                    {% csrf_token %}
                    <textarea maxlength="200" id="comment" name="comment" class="form-control" rows="4" placeholder="请输入评论 限200字!"></textarea>
                    <button type="submit" class="btn btn-blog pull-right">提交</button>
                </form>
            </div>
            <ul>
                {% for comment in comment_list%}
                <li>
                    <div class="blog-comment-content">
                        <a><h4>{{ comment.author.username }}</h4></a>
                        <p>{{ comment.content }}</p>
                        <p>{{ comment.publish_Time | date:"Y年m月d日 H:i"}}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="marginTop10 col-md-4 col-lg-3 hidden-xs">
        {% include "./blog/include/year_write_posts.html" %}
        {% include "./blog/include/hot_posts.html" %}
        {% include "./blog/include/friendly_link.html" %}
    </div>
</div>

{% endblock %}