body {
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei","tohoma,sans-serif";
    color: #6B6B6B;
    font-size: 12px;
    background:url('../image/bg.jpg') repeat scroll 0% 0% transparent;
}

footer {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: #222;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

/*导航栏*/
.navbar-blog{
    font-size: 14px;
}

#blog {
    padding-top: 50px;
}

#main-blog {
    padding: 30px 0px;
}

#container-blog {
    padding: 10px;
    padding-bottom: 30px;
}