body {
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei","tohoma,sans-serif";
    color: #6B6B6B;
    font-size: 12px;
    background:url('../image/bg.jpg') repeat scroll 0% 0% transparent;
}

/*让footer置于底部*/
body,html {
    margin: 0;
    padding: 0;
    height:100%;
}

footer {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: #222;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

#main-blog{
    position: relative;
    min-height:100%;
    _height:100%; /* for ie6 因为ie6不支持min-height */
}

#container-blog {
    padding: 10px;
    padding-bottom: 30px;  /* 不至被footer盖住 */
}

/*label样式*/
.label-blog-1 {
    background-color: #428bca;
}

.label-blog-2 {
    background-color: #5cb85c;
}

.label-blog-3 {
    background-color: #f0ad4e;
}

.label-blog-4 {
    background-color: #5bc0de;
}

.label-blog-5 {
    background-color: #d9534f;
}

.label-blog-6 {
    background-color: #999;
}

a {
    color: #4C4C4C;
}

p {
    word-break:break-all;
    word-wrap:break-word;
}

.hide{
    display: none;
}

.padding10 {
    padding: 10px;
}

.margin2 {
    margin: 2px;
}

.marginTop10{
    margin-top: 10px;
}

.colorGray{
    color: #94908e !important;
}

.btn-blog {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

/*导航栏*/
.navbar-blog{
    font-size: 14px;
}

#blog {
    padding-top: 50px;
}

#main-blog {
    padding: 30px 0px;
}

#container-blog {
    padding: 10px;
    padding-bottom: 30px;
}

#myCarousel{
    margin-bottom: 20px;
}

/*文章列表内容*/
.pre-cat {
    float: left;
    margin-right: 10px;
    position: relative;
}

.pre-catinner {
    background-color: #D94600;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: #EEE;
}

.pre-catarrow {
    position: absolute;
    height: 0px;
    width: 0px;
    font-size: 0px;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-image: none;
    right: -8px;
    top: 10px;
    border-color: transparent transparent transparent #D94600;
}

.home-post {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: block;
}

.home-post .post-title {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.underline {
    border-bottom: 1px solid #eee;
}

.home-post .post-title>h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-info {
    color : #6B6B6B;
    margin-top: 15px;
}

.post-info > span {
    margin-right: 5px;
}

.post-info .post-tags {
    float: right;
}

.home-post .post-content {
    padding: 0px 0px;
    font-size: 14px;
}

.home-post .post-content .row .col-sm-4 {
    padding-right: 5px;
    padding-left: 5px;
}

.home-post .post-content .thumbnail {
    border: 1px solid #ED9C29;
    padding: 0px;
}

/*搜索框*/
.search {
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 4px;
    color: #FFF;
    background-color: #222;
    border-color: #EEE;
    box-shadow: 0px 0px 5px #C2C2C2;
}

.search input {
    width: 80% !important;
    margin-right: 5px;
}

/*热门文章widget*/
.panel-blog {
    box-shadow: 0px 0px 5px #C2C2C2;
    border-color: #EEE;
}

.panel-blog .panel-heading {
    color: #EEE;
    background-color: #222;
    border-color: #EEE;
}

.panel-blog span.btn {
    padding: 0px;
    margin-right: 5px;
}

.hotest-post-title {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-blog .badge {
    background-color: #D94600;
}

#post{
    font-size: 14px;
    color: #000;
}

.blog-comment-edit {
    margin-bottom: 20px;
}

.blog-comment-content {
    word-break: break-all;
}

.blog-comment ul {
    padding-left: 0px;
}

.blog-comment ul li {
    list-style-type: none;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.wrap{
    word-break:break-all;
    word-wrap:break-word;
}

.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50% !important;
}

.avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50% !important;
    box-sizing: border-box;
}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-bottom: 10px;
}}

.avatar_top .avatar{
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-right: 10px;
    line-height: 1%;
    float: left;
}

.reply, .delete, .child_reply{
    color: #337ab7;
}

.child-comment-list {
    padding-bottom: 30px;
    margin-top: 10px;
    border-top: 1px dashed #d9d9d9;
}

.child-comment-list .child-comment {
    padding: 15px 0 15px 10px;
    border-bottom: 1px dashed #d9d9d9;
    border-left: 3px solid #d9d9d9;
    font-size: 12px;
}

.child-comment-list p a {
    color: #4094c7;
}

.comment-text {
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: white;
}

.blog-comment textarea {
    width: 100%;
    height: 78px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    resize: none;
}

.blog-comment textarea:focus,.comment-text textarea:hover{
    background: transparent;
    outline: none;
}

.child-comment-text {
    padding: 10px;
    background: white;
    border-color: #eeeeee;
}

.blog-comment-content form{
    margin-top: 10px;
}

.blog-comment .warning {
    top: 3px;
    font-size: 12px;
    position: relative;
    margin-left: 11px;
}

.blog-comment .warning i {
    margin-right: 5px;
}

.emoji-div {
    margin-left: 11px;
    position: relative;
    display: inline-block;
}