body{
    color: #4C4C4C;
}

a{
    color: #4C4C4C;
}

.padding_left10{
    padding-left: 10px !important;
}

.margin_left0{
    margin-left: 0px !important;
}

.margin_left80{
    margin-left: 80px !important;
}

.admin_start{
    margin-bottom: 10px !important;
}

.colorGray{
    color: #94908e !important;
}

.top10{
    top: 10% !important;
}
