<div>
    <div class="panel panel-blog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-flag"></span>
                友情链接
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#hotest-post-list"></span>
            </h3>
        </div>
        <div id="links" class="padding10 list-group collapse in">
            <a title="玩蛇网Python论坛" target="_blank" href="http://bbs.iplaypython.com" class="btn btn-blog btn-xs margin2">玩蛇网Python论坛</a>
            <a title="简明现代魔法" target="_blank" href="http://www.nowamagic.net" class="btn btn-success btn-xs margin2">简明现代魔法</a>
            <a title="the5fire" target="_blank" href="http://www.the5fire.com" class="btn btn-info btn-xs margin2">the5fire</a>
        </div>
    </div>
</div>
