<div>
    <div class="panel panel-blog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-flag"></span>
                热门文章
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#hotest-post-list"></span>
            </h3>
        </div>
        <ul id="hotest-post-list" class="list-group collapse in">
        <!--
            {% for article in hot_article_list %}
                <li class="list-group-item">
                <span class="hotest-post-title"><a href="/article/{{article.en_title}}.html">{{article.title}}</a> </span>
                <span class="badge">{{article.view_times}}</span>
                </li>
            {% endfor %}
        -->
            <li class="list-group-item">
                <span class="hotest-post-title"><a href="/article/hello.html">linux 环境编程学习笔记 第一天 linux 内存管理</a> </span>
                <span class="badge">2399</span>
            </li>
            <li class="list-group-item">
                <span class="hotest-post-title"><a href="/article/hello.html">OllyDbg 使用教程 （一）</a> </span>
                <span class="badge">429</span>
            </li>
        </ul>
    </div>
</div>
