<div>
    <div class="panel panel-blog">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-flag"></span>
                热门文章
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#hotest-post-list"></span>
            </h3>
        </div>
        <ul id="hotest-post-list" class="list-group collapse in">
            {% for article in hot_article_list %}
                <li class="list-group-item">
                <span class="hotest-post-title"><a href="/post/{{article.id}}">{{article.title}}</a> </span>
                <span class="badge">{{article.view_count}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
