<div class="home-post well clearfix">
    <div class="post-title underline clearfix">
        <h1>
            <a href="/repository/{{post.id}}">{{post.title}}</a>
        </h1>
        <div class="post-info">
            <span>
                <span class="glyphicon glyphicon-calendar"></span>
                {{post.publish_time | date:"Y年m月d日 H:i" }}
            </span>
            <span>
                <span class="glyphicon glyphicon-eye-open"></span>
                {{post.view_count}}
            </span>
            <span>
                <span class="glyphicon glyphicon-user"></span>
                {{post.author}}
            </span>
            <div class="post-tags">
                {% for tag in post.get_tags%}
                <a href="/tag/{{tag.name}}" class="{%if forloop.counter0%}hidden-xs{%endif%} ">
                    <span class="label label-blog-{{forloop.counter}} btn">{{tag.name}}</span>
                </a>
                {% endfor %}
                <a class="visible-xs-inline-block">
                    <span class="label label-blog-2 btn ">...</span>
                </a>
            </div>
        </div>
    </div>
    <div class="post-content">
        <div class="row">
            <div class="col-sm-12">
                <p>
                {% autoescape off%}
                {{post.content|slice:"200" }}
                {% endautoescape %}
                {% if post.content|length > 200 %}
                    ...
                {% endif %}
                </p>
                <a type="button" class="btn btn-blog pull-right hidden-xs"  href="/repository/{{post.id}}">阅读全文</a>
            </div>
        </div>
    </div>
</div>